.mobile_navigation {
  position: fixed;
  bottom: 0;
  width: 100%;
  padding: 16px 12px 40px;
  background-color: var(--bg-dark);
  z-index: 10;
  $radius: 20px;
  border-top-right-radius: $radius;
  border-top-left-radius: $radius;
  border: 1.5px solid var(--universal-color);
  border-bottom: transparent;
  transform: translate(0, 100%);
  transition: 0.3s ease;

  &::after {
    position: absolute;
    content: "";
    height: 4px;
    width: 24px;
    background-color: var(--universal-color);
    border-radius: 100px;
    top: 8px;
    left: 50%;
    transform: translate(-50%);
  }

  &.active {
    transform: translate(0);
  }

  .mobile_nav_icons {
    position: relative;
    display: flex;
    gap: 8px;
    margin-top: 4px;

    .indicator {
      position: absolute;
      height: 4px;
      width: 16px;
      background-color: var(--accent-color);
      z-index: 1;
      bottom: 0;
      border-radius: 100px;
      transform: translate(-50%);
      transition: 0.3s cubic-bezier(0.6, -0.28, 0.735, 0.045);
    }
  }

  .theme_options {
    position: relative;
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    gap: 16px;

    .header {
      color: var(--text-color-alt);
      display: flex;
      gap: 10px;
      align-items: center;
      justify-content: space-between;
      padding: 0 4px;

      .icon {
        font-size: 20px;
      }
    }

    .theme_colors {
      display: flex;
      gap: 16px;

      .theme {
        height: 25px;
        aspect-ratio: 1;
        background-color: var(--custom-clr);
        border: 2px solid var(--universal-color);
        border-radius: 50%;
        cursor: pointer;
        transition: 0.1s ease;

        &:hover {
          transform: scale(1.4);
        }
      }
    }
  }
}
